# Relatório de Análise I

## Importando a base de dados

In [1]:
import pandas as pd

In [8]:
dados = pd.read_csv("dados/aluguel.csv", delimiter=";")

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [12]:
dados.sample(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
29177,Apartamento,Ipanema,2,1,2,140,7800.0,1175.0,NaN
14227,Apartamento,Barra da Tijuca,4,3,4,249,8500.0,2850.0,750.0
11288,Conjunto Comercial/Sala,Campo Grande,0,0,0,26,600.0,530.0,NaN
17203,Loja/Salão,Méier,0,0,0,60,1500.0,NaN,NaN
4312,Loja Shopping/ Ct Comercial,Freguesia (Jacarepaguá),0,1,0,50,2500.0,999.0,187.0
11327,Apartamento,Barra da Tijuca,2,1,1,78,2500.0,1200.0,75.0
1787,Apartamento,Barra da Tijuca,4,3,3,160,8500.0,2300.0,345.0
5636,Apartamento,Anil,2,1,0,65,900.0,325.0,25.0
3999,Galpão/Depósito/Armazém,Benfica,0,0,0,1600,9000.0,NaN,2950.0
27766,Conjunto Comercial/Sala,Centro,0,0,0,379,15160.0,5613.0,1843.0

## Informações gerais sobre a base de dados

In [13]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [15]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=["Tipos de Dados"])

In [16]:
tipos_de_dados.columns.name = 'Variáveis'

In [17]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [18]:
dados.shape

(32960, 9)

In [19]:
print(f'A base de dads apresenta {dados.shape[0]} registros (imóveis) e {dados.shape[1]} variáveis')

A base de dads apresenta 32960 registros (imóveis) e 9 variáveis